.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz
*.pdf
*.png
*.jpg
*.jpeg
*.log
.DS_Store
Thumbs.db
inst/scripts/*.rda
inst/scripts/hcc_output/
scenic_extdata/
inst/extdata/*.feather
inst/extdata/*.tbl
README.html
*.knit.md
